#set($c=".class")
#set($mn="$modeName$c")
#set($md="$modelPackage.$modeName")
#set($ss="$servicePackage.$serviceName")

package $handlePackage;

import lombok.extern.slf4j.Slf4j;
import $md;
import $ss;
import mofa.wangzhe.reactive.util.result.ResultUtil2;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.stereotype.Component;
import org.springframework.web.reactive.function.server.ServerRequest;
import org.springframework.web.reactive.function.server.ServerResponse;
import reactor.core.publisher.Mono;

/**
 * @author $author
 */

@Slf4j
@Component
public class $handName {

    private final $serviceName service;

    @Autowired
    public $handName($serviceName service) {
        this.service = service;
    }

    #set($preSave="-save")
    @PreAuthorize("hasAuthority('$handName$preSave')")
    public Mono<ServerResponse> save(ServerRequest request) {
        return request.bodyToMono($mn)
                .flatMap(f -> this.service.save(f)
                        .flatMap(f2 -> ResultUtil2.ok(null)))
                .switchIfEmpty(ResultUtil2.err("请填写必要参数"));
    }

    #set($preRemove="-remove")
    @PreAuthorize("hasAuthority('$handName$preRemove')")
    public Mono<ServerResponse> remove(ServerRequest request) {
        String uuid = request.pathVariable("uuid");
        return this.service.remove(uuid)
                .flatMap(f2 -> ResultUtil2.ok(null));
    }

    #set($preUpdate="-update")
    @PreAuthorize("hasAuthority('$handName$preUpdate')")
    public Mono<ServerResponse> update(ServerRequest request) {
        String uuid = request.pathVariable("uuid");
        return request.bodyToMono($mn)
                .flatMap(f -> {
                    f.setUuid(uuid);
                    return this.service.update(f)
                            .flatMap(f2 -> ResultUtil2.ok(null));
                })
                .switchIfEmpty(ResultUtil2.err("请填写必要参数"));
    }

    /**
     * @param request ServerRequest
     * @return Mono<ServerResponse>
     */
    #set($prePage="-page")
    @PreAuthorize("hasAuthority('$handName$prePage')")
    public Mono<ServerResponse> page(ServerRequest request) {
        int pageSize = Integer.parseInt(request.pathVariable("pageSize"));
        int pageNum = Integer.parseInt(request.pathVariable("pageNum"));
        String search = request.queryParam("search").orElse("");
        return this.service.page(pageSize, pageNum, search)
                .flatMap(ResultUtil2::ok);
    }

    /**
     * 根据id获取
     *
     * @param request ServerRequest
     * @return Mono<ServerResponse>
     */
    @PreAuthorize("hasAuthority('$handName$preUpdate')")
    public Mono<ServerResponse> one(ServerRequest request) {
        String uuid = request.pathVariable("uuid");
        return this.service.one(uuid)
                .flatMap(ResultUtil2::ok);
    }

}
