package $modelPackage;

#foreach ($i in $columns)
    #if ($!{i.dataType} == "Date")
import com.fasterxml.jackson.annotation.JsonFormat;
    #break
    #end
#end
import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.ToString;
import org.springframework.data.annotation.Id;
import org.springframework.data.relational.core.mapping.Table;

#foreach ($i in $columns)
    #if ($!{i.dataType} == "Date")
import java.util.Date;
    #break
    #end
#end


/**
 * @author $author
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
@ToString
@JsonInclude(JsonInclude.Include.NON_EMPTY)
@Table("$tableName")
public class $modeName {

    #foreach ($i in $columns)
    #if ($!{i.columnName} == "uuid")
    @Id
    #end
    #if ($!{i.dataType} == "Date")
    @JsonFormat(pattern = "yyyy-MM-dd")
    #end
    private $!{i.dataType} $!{i.columnName};

    #end

}