package $modelPackage;

import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.ToString;
import org.springframework.data.relational.core.mapping.Table;

#foreach ($i in $columns)
    #if ($!{i.dataType} == "Date")
import java.util.Date;
    #break
    #end
#end


/**
 * @author $author
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
@ToString
@JsonInclude(JsonInclude.Include.NON_EMPTY)
@Table("$tableName")
public class $modeName {

    #foreach ($i in $columns)
    private $!{i.dataType} $!{i.columnName};

    #end

}