<div class="wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>$modularNameText</h1>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="table" class="table table-bordered table-hover">
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<div class="modal" id="add-model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="add-form">
                    #foreach ($i in $columns)
                    #if ($!{i.columnName} != "uuid")
                    #set($add="-add")
                    #set($cc=$!{i.columnName})
                    #set($mn="$cc$add")
                    <div class="form-group">
                        <label>$!{i.columnComment}</label>
                        <input type="text" class="form-control" id="$mn" placeholder="$!{i.columnComment}" name="$!{i.columnName}">
                    </div>
                    #end
                    #end
                    <div style="display:none;">
                        <button type="submit" id="add-from-submit"></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="$('#add-from-submit').click()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<button type="button"
        class="btn btn-success btn-sm"
        data-toggle="modal"
        data-target="#edit-model"
        id="edit-model-open-button"
        style="display:none;"
></button>
<div class="modal" id="edit-model">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                <form action="#" id="edit-form">
                    <input name="uuid" type="hidden" id="id-edit"/>
                    #foreach ($i in $columns)
                    #if ($!{i.columnName} != "uuid")
                    #set($edit="-edit")
                    #set($cc=$!{i.columnName})
                    #set($mn="$cc$edit")
                    <div class="form-group">
                        <label>$!{i.columnComment}</label>
                        <input type="text" class="form-control" id="$mn" placeholder="$!{i.columnComment}" name="$!{i.columnName}">
                    </div>
                    #end
                    #end
                    <div style="display:none;">
                        <button type="submit" id="edit-from-submit"></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="$('#edit-from-submit').click()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

#set($c=".js")
#set($mn="$modularName$c")
<script src="/js/$modularName/$mn"></script>